body {
font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
padding-top: 0px;
padding-bottom: 20px;
text-rendering: geometricPrecision;
color:#314046;
}

/* Custom container */
.container-narrow {
margin: auto;
max-width: 1080px;
}
.container-narrow > hr {
margin: 50px 0;
}

/* Main marketing message and sign up button */

}
.jumbotron .btn {
font-size: 16px;
padding: 11px 20px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}

.jumbotron h2 {
margin-bottom: 20px;
font-size: 20px;
font-weight: 200;
line-height: 25px;
text-align: left;
margin-left: 110px;
margin-top:25px;
}
.nav{
  margin-top:15px;
}
a:hover, a:focus {
color: #0563AB;
text-decoration: underline;
}

.fone{
color: #0088cc;  
margin-top: 7px;
margin-right: 20px;
}

#logo{
margin-top: -10px;
margin-right: 60px;
}

#abertura-conteudo .tab-content h2{
	margin-top: 40px;
}

.tab-content h2{
font-size: 30px;
text-align: center;
line-height: 39px;
margin-bottom: 40px;
}

.tab-content h3 {
font-size: 16px;
line-height: 18px;
text-align: center;
}

.tab-content h4 {
font-size: 16px;
line-height: 16px;
text-align: center;
}

.tab-content p {
font-size: 15px;
text-align: center;
line-height: 22px;
color: #8b8b8b;
}

.descricao-prefere p {
font-size: 15px;
text-align: left;
line-height: 35px;
color: #8b8b8b;
padding-left: 10px;
}


.numeros {
border-radius: 90px;
background-clip: padding-box;
width: 40px;
height: 30px;
color: #0563AB;
background-color: #fff;
display: block;
margin: 0 auto 12px;
-webkit-font-smoothing: antialiased;
border: 2px solid #0563AB;
text-align: center;
padding-top: 10px;
font-size: 30px;
font-weight: 700;
}

.preco {
font-family: 'Helvetica Neue', HeleveticaN, Helvetica, Arial, sans-serif;
color: #21373d;
font-size: 146px;
line-height: 200px;
font-weight: 700;
}

.consulte {
font-family: 'Helvetica Neue', HeleveticaN, Helvetica, Arial, sans-serif;
color: #21373d;
font-size: 30px;
line-height: 200px;
font-weight: 700;
}

.perfeita {
color: #21373d;
font-size: 25px;
position: relative;
top: 0px;
left: 0px;
margin-top:0px;
line-height: 36px;
text-align:right;
margin-right: 30px;
}

.rs {
font-family: 'Helvetica Neue', HeleveticaN, Helvetica, Arial, sans-serif;
color: #21373d;
font-size: 30px;
position: relative;
top: -75px;
left: 0px;
}

.noventa {
font-family: 'Helvetica Neue', HeleveticaN, Helvetica, Arial, sans-serif;
color: #21373d;
font-size: 26px;
position: relative;
top: -75px;
left: 0px;
}

.mensalidade {
  text-align: center;
}

.mensalidade em {
display: block;
color: #909090;
font-size: 16px;
margin-top: -140px;
margin-left: 328px;
}

.mensalidade p {
display: block;
color: #909090;
font-size: 12px;
font-family: 'Helvetica Neue', HeleveticaN, Helvetica, Arial, sans-serif;
margin-top: 100px;
}


.mensalidade p {
font-size: 15px;
text-align: center;
line-height: 22px;
color: #8b8b8b;
}


.abrir {
  text-align: center;
}

.abrir em {
display: block;
color: #909090;
font-size: 16px;
margin-top: -140px;
margin-left: 328px;
}

.abrir p {
display: block;
color: #909090;
font-size: 12px;
font-family: 'Helvetica Neue', HeleveticaN, Helvetica, Arial, sans-serif;
margin-top: 10px;
}


.abrir p {
font-size: 15px;
text-align: center;
line-height: 22px;
color: #8b8b8b;
}

.para-mim p {
font-size: 15px;
text-align: left;
line-height: 22px;
color: #8b8b8b;
padding-left: 10px;
}

h2{
font-size: 30px;
text-align: center;
line-height: 39px;
margin-bottom: 40px;
}

.quoteauthor img {
float: right;
margin-left: 132px;
margin-bottom: 20px;
display: block;
padding: 3px;
border: 0px solid #ddd;
width: 95px;
}
q {
font-size: 1.2em;
line-height: 1.4em;
margin: 20px 30px;
padding-left: 15px;
text-indent: -6px;
border: none;
text-align: left;
display: block;
clear: both;
font-weight: 200;
}
.img-circle {
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}
q:before {
content: "\201C";
font-size: 48px;
line-height: 16px;
position: relative;
bottom: -20px;
margin-right: 6px;
color: #9a9a9a;
}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
color: #999;
cursor: default;
background-color: #fff;
}

#formulario input, textarea, .uneditable-input {
width: auto;
}

/*--#formulario p{
	text-align: left;
}*/

#formulario h2 {
font-size: 18px;
text-align: center;
line-height: 30px;
margin-bottom: 16px;
color: #8b8b8b;
}

.contador {
	margin-top: 40px;
}

.contador p {
	text-align: left;
	font-size: 13px;
}
.contador h3 {
	text-align: left;
	line-height: 0px;
}

.features {
	margin-top: 28px;
	color:#8b8b8b;
}

.features p {
	text-align: left;
	font-size: 13px;
}
.features h3 {
	text-align: left;
	line-height: 0px;
}

hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

.economia{
	margin-top: 90px;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.economia textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
background-color: #ffffff;
border: 1px solid #8E8E8E;
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
}

.economia input, textarea, .uneditable-input {
width: 80px;
font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.economia select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
display: inline-block;
height: 20px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 20px;
line-height: 22px;
color: #8b8b8b;
vertical-align: middle;
}

#contabilidade {
background: #fff url(../img/blue.png) repeat top center;
color: #fafafa;
margin-top: 50px;
}

#contabilidade h2{
font-size: 30px;
text-align: center;
line-height: 39px;
margin-bottom: 40px;
margin-top:50px;
}

#contabilidade h3 {
font-size: 25px;
line-height: 18px;
text-align: center;
margin-bottom: 50px;
font-weight: 200;
}

#contabilidade h4 {
font-size: 16px;
line-height: 18px;
text-align: center;
font-weight: 200;
}

#contabilidade .signup h4 {
font-size: 16px;
line-height: 18px;
text-align: left;
font-weight: 200;
}

#contabilidade .signup p {
font-size: 15px;
text-align: left;
line-height: 20px;
font-weight: 200;
font-style: italic;
margin-top: -8px;
}

#contabilidade p {
font-size: 15px;
text-align: center;
line-height: 22px;
}


#contabilidade select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
display: inline-block;
height: 28px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 22px;
color: #8b8b8b;
vertical-align: middle;
}


#abertura-de-empresa {
background: #fff url(../img/blue.png) repeat top center;
color: #fafafa;
margin-top: 50px;
}

#abertura-de-empresa h2{
font-size: 30px;
text-align: center;
line-height: 39px;
margin-bottom: 40px;
margin-top:50px;
}

#abertura-de-empresa h3 {
font-size: 25px;
line-height: 18px;
text-align: center;
margin-bottom: 50px;
font-weight: 200;
}

#abertura-de-empresa h4 {
font-size: 16px;
line-height: 18px;
text-align: center;
font-weight: 200;
}

#abertura-de-empresa .signup h4 {
font-size: 16px;
line-height: 18px;
text-align: left;
font-weight: 200;
}

#abertura-de-empresa .signup p {
font-size: 15px;
text-align: left;
line-height: 20px;
font-weight: 200;
font-style: italic;
margin-top: -8px;
}

#abertura-de-empresa p {
font-size: 15px;
text-align: center;
line-height: 22px;
}


#abertura-de-empresa select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
display: inline-block;
height: 28px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 22px;
color: #8b8b8b;
vertical-align: middle;
}



.numeros-signup {
border-radius: 90px;
background-clip: padding-box;
width: 23px;
height: 23px;
color: #fff;
background-color: transparent;
display: block;
margin: 10px auto 12px;
-webkit-font-smoothing: antialiased;
border: 2px solid #FFF;
text-align: center;
padding-top: 0px;
font-size: 14px;
font-weight: 700;
}

.signup {
	margin-top: 30px;
}
.signup:FIRST-CHILD {
	margin-top: 0px;
}

h6 {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21373d;
margin-bottom: 9px;
}

p2 {
font-size: 15px;
line-height: 20px;
font-weight: 200;
color:#666;
}

.checkbox {
	color:#314046;
}


#splash .jumbotron {
position: relative;
text-align: left;
background: #ffffff url(../img/contabilizei-bg.jpg) no-repeat top center;
color: #fff;
min-height: 350px;
}

#abertura .jumbotron {
position: relative;
background: #ffffff url(../img/contabilizei-bg.jpg) no-repeat top center;
color: #fff;
min-height: 350px;
}

#abertura .background {
	background-color: rgba(19, 28, 34, 0.45);
}

#splash .background {
	background-color: rgba(19, 28, 34, 0.45);
}

#splash .depoimento {
font-size: 12px;
margin-top: 10px;
padding-right: 18px;
line-height: 15px;
}

#splash h1 {
font-size: 42px;
line-height: 1;
margin-top: 130px;
margin-left: 106px;
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

#splash h2 {
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

#splash .cta {
	margin-top: 70px;
}

#splash p{
margin-top: 7px;
font-size: 10px;
}

#splash .splash-preco {
	background-color: rgba(255, 0, 0, 0.5);
	width: 100px;
	height:100px;
	border-radius: 50px;
	margin-left: 100px;
}

#splash .splash-preco h4{
font-size:13px;
font-weight: 200;
padding: 12px;
text-align: center;
}

#abertura h1 {
font-size: 42px;
line-height: 1;
margin-top: 130px;
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
text-align: center;
}

#abertura h2 {
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
text-align: center;
margin-left: 0px;
}

#abertura .cta {
	margin-top: 70px;
}

#abertura p{
margin-top: 7px;
font-size: 10px;
}

#abertura .splash-preco {
background-color: rgba(255, 0, 0, 0.5);
width: 106px;
height: 101px;
border-radius: 100px;
margin-left: 100px;
padding-top: 5px;
margin-bottom: 7px;
}

#abertura .splash-preco h4{
font-size:13px;
font-weight: 200;
padding: 12px;
text-align: center;
}


.well {
background-color: #cccccc;
border: 1px solid #8e8e8e;
}

.heber{
	margin-top:-30px;
}

#contabilidade-on-line ul{
	margin-left: 170px;
}
 
#perguntas-abertura ul{
	margin-left: 30px;
}

#contabilidade-on-line .nav{
font-size: 16px;
font-weight: 700;
}

#contabilidade-on-line .nav-tabs > li {
	border-bottom: 1px solid #dddddd;
}

#contabilidade-on-line .nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: #dddddd;
}

#contabilidade-on-line .nav-tabs {
border-bottom: 0px solid #ddd;
}

#contabilidade-on-line .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
border-bottom-color: transparent;
}

#economize .economia textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border: 0px solid #8E8E8E;
}


#footer-main {
padding: 60px 0 60px;
}

#footer-main h4.footer-center {
font-weight: 700;
font-size: 0.8em;
margin: 0;
padding-bottom: 10px;
display: block;
text-transform: uppercase;
color: #0563AB;
text-align: center;
}

#footer-main .content .social-media-bubble {
margin: 30px 0 15px;
font-weight: 700;
}

#footer-main ul {
list-style: none;
margin-bottom: 30px;
}

#footer-main .content #social-media-icons .sm-icon {
width: 60px;
height: 60px;
display: block;
}

#bottom .copyright {
padding: 0 10px;
text-align: right;
color: #8b8b8b;
font-size: 11px;
}

#footer-main .content .about-zp-paragraph {
border-bottom: 1px solid #eeeeee;
padding-bottom: 30px;
margin-bottom: 30px;
}

.sistema{
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
padding-bottom: 8px;
padding-top: 8px;
background-color: #eeeeee;
}

.dropdown-menu {
	padding:0px;
}

.continuar{
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.continuar2{
	padding-top: 8px;
	padding-bottom: 8px;
}

.quoteauthor p{
	text-align: left;
}
/* 
#carrosel .nav-tabs {
border-bottom: 0px solid #ddd;
}


}

#carrosel .nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: transparent;
border-bottom: 3px solid #0563AB;
}*/

/*Alteracoes - Fabio 03.01.2013*/
#contabilidade-on-line .nav-tabs > li.active {
	border-bottom: 0px;
}

#contabilidade-on-line .nav-tabs > li a{
	margin-right: -1px;
	margin-bottom: -1px;
}
#alert-cupom.well,
.carregando-cupom.well {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

#alert-cupom{
	/*margin-left: 0px;
	width: 100%;*/
	padding-bottom: 0px;
	margin-bottom: 10px;	
}

#alert-cupom > div {
	margin: 10px;
}

#alert-cupom img {
	float: left;
	margin: 10px 30px 10px 10px;
}
#alert-cupom h2{
	font-size: 16px;
}

.select2-search input{
	border: 1px solid #ccc;
}


/*Alteracoes - Vitor 06.01.2013*/



#sobre h3{
	font-size: 25px;
	color: #0563AB;
}


.socio {
	margin-top: 40px;
}


#sobre h1 {
font-size: 30px;
line-height: 1;
margin-top: 30px;
text-align: center;
padding:30px;
}
#sobre h2 {
font-size: 20px;
text-align: center;
margin-left: 0px;
margin-bottom: 40px;
}

.equipe {
	margin-top:40px;
}

.ligamos input{
	border-width: 1px;
	border-color: #d2d2d2;
}
.ligamos input:FOCUS{
	border-color: #999;
}
#modal-ligacao{
	width: 380px;
	margin-left: -180px;
}
