body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
h2 {
	font-weight:600;
	font-size:2.5em;
	color:#494949;
}

p  {
	color:#494949;
	line-height:2.0em;
}


/* Jumbotron */

#botaosupremo {
	margin-top:80px;
}
.botaosupremo {
	font-weight:600;
	padding:5px 75px 8px 75px;
	border-radius:25px;
	background-color:#8acb00;
	color:#fff;
	text-decoration:none;
	font-size:1.6em;
	text-shadow:1px 1px #82b515;
	border-bottom:4px solid #92c32b;
}
.botaosupremo:hover {
	background-color:#92d700;
	color:#fff;
	text-decoration:none;
}

.jumbotron {
	background-image: url("../images/bgvideo2.png");
    background-color: #1392ff;

}
.jumbotron #centralizado {
	text-align:center;
}
#setas {
	padding-top:90px;
	font-size:3em;
	color:#fff;
}
.navbar {
	background-color:#fff;
	border-bottom:1px solid #e8e8e8;
	padding-top:10px;
	padding-bottom:5px;
}
.logo {
	float:left;
	width:15%;
	height:15%;
	display:block;
}
.logo a {
	border:0;
}
.nav ul {
	padding-top:7px;
}
.nav li {
	display:inline;
	padding-left:50px;
}
.nav .continue a {
	font-weight:600;
	text-decoration:none;
	color:#cfcfcf;
	padding:5px 20px 5px 20px;
	border:2px solid #cfcfcf;
	border-radius:20px;
}
.nav .continue a:hover {
	border:2px solid #999;
	color:#999;
}
.nav li a {
	color:#999;
}
.jumbotron h1 {
	font-size:2.4em;
	font-weight:600;
	color:#fff;
	padding-top:25px;
	line-height:1.4em;
}
.jumbotron p {
	clear:left;
	font-size:1.2em;
	color:#fff;
}
.jumbotron .botao {
	font-weight:600;
	padding:5px 35px 8px 35px;
	border-radius:20px;
	background-color:#8acb00;
	color:#fff;
	text-decoration:none;
	font-size:1.4em;
	text-shadow:1px 1px #82b515;
}
.jumbotron .botao:hover {
	background-color:#92d700;
	color:#fff;
}
#pc {
	margin-top:-205px;
	margin-right:-100px;
	float:right;
}

/* Na M�dia */

.midia {
	background-color:#fafafa;
	border-bottom:1px solid #e8e8e8;
	margin-top:-30px;
	padding:35px 0 18px 0;
	text-align:left;
}
.midia .vejamais {
	font-size:0.8em;
	color:#b4b4b4;
}
.midia  a {
	text-decoration:none;
}
.midia .texto {
	font-size:1.1em;
	color:#a4a4a4;
	padding-top:7px;
}

/* Mais Foco no seu Neg�cio */

.maisfoco {
	padding-top:60px;
	padding-bottom:100px;
	text-align:center;
	background-color:#fafafa;
}
.maisfoco .col-md-4 {
	padding-left:30px;
	padding-right:30px;
}
.maisfoco img {
	padding-top:80px;
}
.maisfoco h3 {
	font-weight:600;
	color:#307cc1;
	padding-bottom:10px;
}
.maisfoco a {
	color:#307cc1;
}

/* Como funciona? */

.comofunfa {
	
	padding:60px 0 120px 0;
	text-align:center;
	border-bottom:1px solid #e8e8e8;
	background-color:#fafafa;
}
.comofunfa p {
	padding-bottom:30px;
}
.comofunfa .col-md-6 {
	margin-top:60px;
	text-align:left;
	border-radius:20px;
}
.comofunfa #direita {
	text-align:right;
	background-color:white;
	border-bottom:4px solid #eee;
	padding:0px 30px 0px 40px;
}
.comofunfa h3 {
	font-weight:700;
	font-size:1.6em;
	line-height:1.7em;
	color:#307cc1;
}
.comofunfa .col-md-6 p {
	color:#999;
}
.comofunfa img {
	vertical-align:50%;
}

/* Efici�ncia */

.eficiencia {
	background-image: url("../images/bgcabe.png");
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}
.eficiencia img {
	clear:right;
}
.eficiencia h5 {
	color:#fff;
	font-size:1.3em;
}
.eficiencia .badge {
	margin-left:15px;
	margin-right:15px;
	padding:10px 15px 10px 15px;
	background-color:#fff;
	font-size:1em;
	font-weight:800;
	color:#307cc1;
	border-radius:20px;
	border-bottom:3px solid #2d73b2;
}
.eficiencia a {
	font-weight:600;
	border:none;
	background-color:#8acb00;
	color:#fff;
	padding:6px 45px 9px 45px;
	border-radius:20px;
	text-decoration:none;
	text-shadow:1px 1px #82b515;
}
.eficiencia a:hover {
	background-color:#92d700;
	color:#fff;
}

/* Plataforma */

.plataforma {
	padding-top:80px;
	padding-bottom:100px;
	text-align:center;
	background-color:#fafafa;
	border-bottom:1px solid #e8e8e8;
}
.plataforma .desc {
	margin-top:50px;
	background-color:#307cc1;
	padding:20px 10px 18px 30px;
	text-align:left;
}
.plataforma .desc:hover {
	background-color:#398dd9;
}
.plataforma .desc h6 {
	text-transform:uppercase;
	font-weight:700;
	font-size:1.2em;
	color:#fff;
	padding-bottom:20px;
}
.plataforma .desc p {
	color:#fff;
}
.plataforma .imagem {
	padding:30px 10px 30px 10px;
	background-color:#fff;
	border-bottom:7px solid #f0f0f0;
}

/* Quem Pode Utilizar */

.quempode {
	padding-top:60px;
	padding-bottom:60px;
	text-align:center;
	background-image: url("../images/bgvideo.png");
	border-bottom:1px solid #e8e8e8;
	background-color:#fafafa;
}
.quempode h2 {
	margin-bottom:80px;
}
.quempode h3 {
	font-weight:600;
	color:#307cc1;
}
.quempode .dropdown button {
	margin-top:15px;
	width:290px;
	border-radius:20px;
	padding:8px;
	background-color:#fff;
	border:2px solid #aaa5a5;
	font-weight:600;
	color:#aaa5a5;
}
.quempode .dropdown button:hover {
	border:2px solid #307cc1;
	color:#307cc1;
}
.quempode .dropdown2 button {
	border:2px solid #1cbd1c;
	color:#1cbd1c;
}
.quempode .dropdown-menu {
	width:290px;
	margin-left:35px;
	height: 350px;
	overflow: auto;
}
.quempode .dropdowndes {
	cursor:not-allowed;
	border:2px solid #cecccc;
	color:#cecccc;
}


/* Cadastro quando n�o tem a cidade desejada */

.cadastrolead {
	padding:30px 0 30px 0;
	background-color:#f4f3f3;
	border-bottom:1px solid #e8e8e8;
	text-align:center;
	display: none;
}
.cadastrolead h5 {
	font-weight:800;
	font-size:1.5em;
	color:#666;
	margin-bottom:20px;
}
.cadastrolead p {
	color:#8f8f8f;
	margin-bottom:20px;
}

/* Mensagem de Sucesso */

.cadastroleadok {
	padding:30px 0 30px 0;
	background-color:#dff0d8;
	border-bottom:1px solid #e8e8e8;
	text-align:center;
	display: none;
}
.cadastroleadok h5 {
	font-weight:800;
	font-size:1.5em;
	color:#666;
	margin-bottom:20px;
}
.cadastroleadok p {
	color:#8f8f8f;
	margin-bottom:20px;
}
.cadastroleadok .form-group button {
	font-size:1.2em;
	padding:7px 60px 10px 60px;
	border-radius:20px;
	color:#fff;
	text-decoration:none;
	background-color:#a2d92e;
	border:none;
	border-bottom:4px solid #92c32b;
	text-shadow:1px 1px #82b515;
}
.cadastroleadok .form-group button:hover {
	background-color:#aee930;
	border:none;
	border-bottom:4px solid #a2d92e;
}

/* Cabe no seu Bolso */

.cabenobolso {
	padding:30px 0 80px 0;
	text-align:center;
	border-bottom:1px solid #e8e8e8;
}
.cabenobolso h2 {
	color:#494949;
}
.cabenobolso small {
	text-transform:uppercase;
	color:#fff;
	font-weight:700;
	letter-spacing:3px;
}
.cabenobolso .col-md-12 {
	padding-bottom:60px;
}
.cabenobolso .simplesnac {
	background-color:#1392ff;
	border-radius:20px;
	padding:2px 0 0 0;
	color:#fff;
	border-bottom:8px solid #1583e2;
}
.cabenobolso .lucropre {
	margin-top:30px;
	background-color:#1477cc;
	border-radius:20px;
	padding:2px 0 0 0;
	color:#fff;
	border-bottom:8px solid #146cb7;
}
.cabenobolso h3 {
	font-weight:700;
	color:#fff;

}
.cabenobolso h4 {
	padding:30px 0 10px 0;
	font-weight:700;
	font-size:1em;
}
.col-md-6 {
	text-align:left;
	padding-left:30px;
}
.col-md-6 h2 {
	padding-top:20px;
	
}
.col-md-6 .descrixo {
	padding-top:20px;
	font-size:1.2em;
	padding-bottom:30px;
}
.col-md-8 {
	padding-top:60px;
}
.cabenobolso .botao {
	font-weight:600;
	padding:10px 35px 12px 35px;
	border-radius:20px;
	background-color:#8acb00;
	color:#fff;
	text-decoration:none;
	font-size:1.5em;
	text-shadow:1px 1px #82b515;
}
.cabenobolso .botao:hover {
	background-color:#92d700;
	color:#fff;
}
.cabenobolso h5 {
	margin-top:50px;
	font-size:0.9em;
}
.cabenobolso p {
	font-weight:600;
	font-size:1.4em;
	color:#8f8f8f;
}
.cabenobolso .cifrao {
	font-size:1.2em;
	font-weight:800;

}

.cabenobolso .valor {
	font-size:6em;
	font-weight:600;
}
.cabenobolso .mes {
	font-size:1.2em;
	font-weight:800;
}
.cabenobolso .migrar {
	margin-top:30px;
	font-weight:600;
	font-size:1.2em;
	padding:7px 60px 10px 60px;
	border-radius:20px;
	color:#fff;
	text-decoration:none;
	background-color:#a2d92e;
	border-bottom:2px solid #92c32b;
	text-shadow:1px 1px #82b515;
}
.cabenobolso .migrar:hover {
	background-color:#aee930;
	color:#fff;
}

/* Simule */

.simule {
	text-align:center;
	padding-top:40px;
	padding-bottom:40px;
}
.simule .btn-primary {
	background:#e8e8e8;
	border:none;
}
 
.simule .btn-primary:active, .btn-primary.active {
    background: #0096ed;
    border:none;
}

.simule #especial {
	text-align:center;
	padding:30px 0 30px 0;
	border-radius:25px;
	background-color:#fff;
	border-bottom:5px solid #0d81e4;
}
.simule .input-group,.form-control {
	width:87%;
	margin:0 auto;
}
.simule h2 {
	padding-bottom:40px;
}
.simule .brutal {
	font-size:2em;
	font-weight:600;
}
.simule a {
	text-decoration:none;
	color:#fff;
}
.simule .cifrao {
	font-size:1.2em;
	font-weight:800;
}
.simule .valor {
	font-size:6em;
	font-weight:600;
}
.simule p {
	font-weight:600;
	color:#999;
}
.simule .col-md-4 {
	padding-top:30px;
	color:#fff;
}
#tab-sn {
	width:50%;
}
#tab-lp {
	width:50%;
}
/* Simule2 */

.migre .btn-primary {
	background:#e8e8e8;
	border:none;
}
 
.migre .btn-primary:active, .btn-primary.active {
    background: #0096ed;
    border:none;
}

.migre .col-md-7  .input-group,.form-control {
	width:50%;

}

.migre .col-md-7  .brutal {
	font-size:2em;
	font-weight:600;
}
.migre .col-md-7  a {
	text-decoration:none;
	color:#fff;
}
.migre .col-md-7 .cifrao {
	font-size:1.2em;
	font-weight:800;
}
.migre .col-md-7 .valor {
	font-size:6em;
	font-weight:600;
}
.migre .btn-group {
	padding-top:50px;
}

/* O que fazemos vs O que n�o fazemos */

.fazemos {
	padding:40px 0 80px 0;
	border-bottom:1px solid #e8e8e8;
}
.fazemos .x {
	font-size:4em;
	font-weight:800;
	color:#e8e8e8;
}
.fazemos h2 {
	padding-bottom:30px;
	text-align:center;
}
.fazemos .col-md-2 {
	padding-top:350px;
	text-align:center;
}
.fazemos ul {
	list-style-type:none;
	line-height:3.5em;
	text-align:left;
	margin-left:-40px;
}
.fazemos li {
	border-bottom:1px solid #e8e8e8;
	padding-left:30px;
}
.fazemos li:hover {
	background-color:#fafafa;
}
.fazemos .titulo {
	text-align:center;
	font-weight:800;
	font-size:1em;
	padding:10px 10px 10px 10px;
	text-transform:uppercase;
	background-color:#a2d92e;
	border-radius:20px;
	color:#fff;
}
.fazemos .titulo2 {
	text-align:center;
	font-weight:800;
	font-size:1em;
	padding:10px 10px 10px 10px;
	text-transform:uppercase;
	background-color:#f26666;
	border-radius:20px;
	color:#fff;
}

/* Recomenda */

.recomenda {
	padding:60px 0 80px 0;
	background-image: url("../images/bgvideo.png");
	background-color:#fff;
	text-align:center;
	border:1px solid #e8e8e8;
}
.recomenda .video {
	width: 100%;
    height: 100%;
    max-width: 1034px;
    max-height: 543px;
    margin: 0 auto;
}
.recomenda .videodentro {
	position: relative;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
}
.recomenda .video iframe {
	box-sizing: border-box;
    background: url("../images/video.png") center center no-repeat;
    background-size: contain;
    padding: 11.9% 15.5% 14.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Menu 2 */

.menu2 {
	background-image: url("../images/bgcabe.png");
	border:1px solid #e8e8e8;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}
.menu2 a {
	color:#fff;
}
.menu2 li {
	font-size:1.3em;
	padding-right:103px;
	font-weight:600;
}
.menu2 li a {
	text-decoration:underline;
}
.menu2 li a:hover {
	text-decoration:none;
	color:#eee;
}
.menu2 li:last-child {
	padding-right:0;
}
.menu2 h2 {
	color:#fff;
	padding-bottom:8px;
}
.menu2 hr {
	width:80%;
	border:0;
	border-top:1px solid #0096ed;
	border-bottom:1px solid #0066a1;
}


/* Migre */

.migre .abrirempre {
	padding:10px 0 0 0;
	font-size:0.9em;
	color:#999;
}
.migre .input-group,.form-control {
	width:100%;
	height:100%;
	margin:0 auto;
}

.migre {
	padding:35px 0 60px 0;
}


.migre h3 {
	font-weight:700;
	font-size:2.1em;
	color:#8acb00;
}

.migre button {
	width:100%;
	margin-top:10px;
	font-weight:600;
	font-size:1.2em;
	padding:10px 80px 10px 80px;
	border-radius:20px;
	color:#fff;
	text-decoration:none;
	background-color:#a2d92e;
	border:none;
	border-bottom:4px solid #92c32b;
	text-shadow:1px 1px #82b515;
}
.migre button:hover {
	border:none;
	background-color:#aee930;
	border-bottom:4px solid #a2d92e;
	color:#fff;
}
.migre .aoclicar {
	color:#999;
	font-size:0.8em; 
	font-style:italic;
}
.migre .col-md-5 {
	margin-top:10px;
	background-color:#fafafa;
	border:1px solid #e8e8e8;
	padding:10px 30px 0px 30px;
	text-align:center;
	border-radius:20px;
}

/* Sobre Finalizando */

.sobre {
	padding:30px 0 30px 0;
	text-align:center;
	border-top:1px dashed #e8e8e8;
	background-color:#fafafa;
}
.sobre p {
	font-weight:600;
}
.sobre img {
	margin-top:-50px;
	margin-left:auto;
	margin-right:auto;
}
.sobre #setinha {
	margin-top:-50px;
}

/* Rodap� original */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.footer {
    background: #edeff1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ddd;
}
.footer p {
    margin: 0;
    font-size: 12px;
}
.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #bac1c8;
    color: #54697e;
    font-size: 15px;
    font-weight: 600;
    line-height: 10px;
    padding: 25px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7f8c8d;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
    background-color: transparent;
}
.footer a {
    color: #78828d;
}

.footer-bottom {
    background: #e3e3e3;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.footer-bottom p {
    font-size: 10px;
}

.social li {
    background: none repeat scroll 0 0 #b5b5b5;
    border: 2px solid #b5b5b5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all .5s ease 0;
    -moz-transition: all .5s ease 0;
    -webkit-transition: all .5s ease 0;
    -ms-transition: all .5s ease 0;
    -o-transition: all .5s ease 0;
}
.social li:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social li a {
    color: #edeff1;
}
.social li:hover {
    border: 2px solid #00325a;
    background: #00325a;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 0;
    color: #edeff1!important;
}

/*BANNER CUPOM*/
.cupom-indicacao, .carregando-cupom{
	margin-bottom: 0px;
}

