.contabilizei {
    background:#fff;
    box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.10);
    transition:0.2s;
    height:59px;
}
.jumbotron {
    background:none;
    background-color:#2196F3;
    padding:60px 0 20px 0;
    color:#fff;
    margin:0;
}
.jumbotron h1 {
    font-weight:700;
    font-size:3em;
    margin:60px 0 40px 0;
}
.linkBotao2 {
    padding:0 !important;
    box-shadow:none !important;
}
.jumbotron .texto {
    opacity:0.8;
}
.jumbotron .abrirempre {
    padding:40px 0;
    font-size:14px;
    font-weight:400;
    color:#fff;
}
.opacidade {
    opacity:0.8;
}
.opacidade2 {
    opacity:0.5;
}
.jumbotron .abrirempre a {
    color:#fff;
}
.navlead p,.navlead .economiaTotal {
    vertical-align: middle;
}
.economiaTotal {
    padding:0 20px;
}
.quempode {
    padding:60px 0 80px 0;
    background-color:#fff;
}
.quempode .dropdown-menu {
	width:290px;
	margin-left:35px;
	height: 350px;
	overflow: auto;
}
.quempodeNao {
    padding:60px 0;
    background:#FF4A4A;
}
.menor {
    font-size:24px;
}
.novoMenu {
    padding:20px;
}
.quempode h3 {
    font-weight:700;
}