body {
	font-family: Nunito, sans-serif;	
}
.panel.banner_indique {
    background-color: #09BFFF ;
    border-radius: 6px;
    border: 1px solid #e4e4e4 ;
    margin-top: 20px;
    color: #ffffff;
}
.panel.banner_indique p {
	padding:5px 10px 0 10px;
	font-size:1.3em;
}
.panel.banner_indique ul,.panel.banner_indique li {
	display:table-cell;
    vertical-align: middle;
}
.panel.banner_indique button {
	font-weight:600;
	font-size:1.1em;
	padding:10px 25px 10px 25px;
	border-radius:25px;
	color:#fff;
	text-decoration:none;
	background-color:#a2d92e;
	border:none;
	border-bottom:4px solid #92c32b;
	text-shadow:1px 1px #82b515;
}
.panel.banner_indique button:hover {
	border:none;
	background-color:#aee930;
	border-bottom:4px solid #a2d92e;
	color:#fff;
}
.panel.banner_indique button:active {
	margin-top:4px;
	border-bottom:none;
}
@media (max-width: 540px) {
	.panel.banner_indique p {
	padding:7px 0 0 0;
	font-size:1.2em;
	}
	.panel.banner_indique button {
	font-size:1em;
	padding:10px 15px;
	}
	.panel.banner_indique img {
	width:85px;
	height:65px;
	}
}
@media (max-width: 455px) {
	.panel.banner_indique img {
	display:none;
	}
}